# OS
.DS_Store
Thumbs.db

# Node / Bun
node_modules
bun.lockb
npm-debug.log*
yarn-error.log*

# Vite
dist
.vite

# Env (NUNCA subir secretos)
.env
.env.*

# Certificates
*.key
ssl_certificate_key.pem

# Docker
postgres_data
*.pid

# Editor
.vscode/
.idea/

# Logs
*.log